*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100%;
  display: grid;
  grid-auto-flow: row;
}

a{
  text-decoration: none;
  color: #333333;
}

a:visited{
  color: #333333;
}

nav, .specials, .testimonials, footer, .about, .hero{
  padding: 20px 18%;
}
/*==================== Nav Section =================*/

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}

.logo{
  width: 175px;
}

ul{
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 45px;
}

/*=============================== Hero ==========================*/

.hero{
  display: flex;
  justify-content: space-between;
  background-color: #495E57;
  color: white;
  height: 325px;
}

h1{
  font-family: 'Markazi Text';
  font-size: 64px;
  margin-bottom: 0;
  margin-top: 0;
}

.hero-left h1{
  color: #F4CE14;
}

.hero-left h2, .about-left h2{
  font-family: 'Markazi Text';
  font-size: 40px;
  margin-top: 0;
}

.hero-left p, .about-left p{
  font-family: 'Karla';
  font-size: 18px;
  font-weight: medium;
  margin-bottom: 20px;
}

button{
  background-color: #F4CE14;
  color: #333333;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  border: none;
  font-family: 'Karla';
  font-weight: bold;
  font-size: 20px;
}

.hero-right{
  justify-self: right;
}

.hero img{
  width: 325px;
  height: 380px;
  border-radius: 15px;
  margin-top: 25px;
  margin-right: 0;
  justify-self: right;
}

/*====================== Specials Section ============*/

.specials{
  padding-top: 150px;
  padding-bottom: 150px;
  font-family: 'Karla';
  color: #333333;
}

.specials-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.specials-header button{
  align-self: center;
}

.specials-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
  border-radius: 15px 15px 0 0;
}

.specials-body p{
  margin: 20px 10px;
}

.specials-body img{
  width: 250px;
  height: 225px;
  border-radius: 15px 15px 0 0;
  margin-bottom: 0;
}

.specials article{
  background-color: #EDEFEE;
  border-radius: 15px 15px 0 0;
  width: 250px;
  height: 500px;
}

.specials-title{
  display: grid;
  grid-auto-flow: column;
}

.specials-title h3{
  margin: 5px 10px;
  font-size: 18px;
  font-weight: bold;
}

.specials-title h4{
  margin: 5px 10px;
  justify-self: right;
  align-self: center;
  color: #FBDABB;
}

.specials h5{
  font-weight:bolder;
  font-size: 16px;
  margin: 40px 10px;
}

/*=================== Testimonials Section ==================*/

.testimonials{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Karla';
  background-color: #F4CE14;
  text-align: center;
}

.testimonials-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.testimonials article{
  margin: 25px;
  padding: 20px;
  padding-bottom: 10px;
  background-color: #EDEFEE;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 15px;
  width: 250px;
}

.testimonials img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

.testimonials h1{
  color:#495E57;
}

.testimonials h2{
  font-size: 18px;
  margin-bottom: 15px;
}

.testimonials p{
  font-size: 18px;
  font-weight: medium;
  margin-bottom: 10px;
}

/*================= About Section===============*/

.about{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:#333333;
}

.about-left h1{
  color:#495E57;
  margin-bottom: 15px;
}

.about-left h2{
  margin-bottom: 15px;
}

.about p{
  width: 350px;
}

.about-right{
  width: 375px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-self: center;
  margin-left: 20px;
}

.about-right img{
  border-radius: 15px;
}

.about .chef1{
  width: 300px;
  height: 350px;
}

.about .chef2{
  position: relative;
  width: 175px;
  height: 200px;
  left: 200px;
  top: -150px;
}

/*================== Footer Section =========*/

footer{
  padding-top: 40px;
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: white;
}

.footer-left{
  align-self: center;
}

.footer-right{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 10px;
  padding-right: 20px;
}

.footer-right h2{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 20px;
}

footer img{
  width: 100px
}

footer ul{
  padding: 0;
}

/*===========Media Queries ==========*/

@media (max-width:1439px){
  nav, .specials, .testimonials, footer, .about, .hero{
    padding-left: 5%;
    padding-right: 5%;
  }

  .specials-body, .testimonials-body, footer{
    justify-content: space-around;
  }
}

@media (max-width: 924px){
  nav{
    justify-content: space-around;
  }
}

@media (max-width: 828px){
  .about{
    flex-direction: column;
  }

  .about p{
    width: 100%;
  }
}


@media (max-width: 767px){
  .hero{
    flex-direction: column;
    height: 600px;
  }

  .hero-right{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-left{
    width: 100%;
    text-align: center;
  }

  nav{
    flex-direction: column;
  }
  nav ul li{
    display: block;
    padding: 10px;
    text-align: center;
    margin-left: 0;
  }

  .specials-header{
    flex-direction: column;
  }

  .specials-header button{
    align-self: flex-start;
    margin-top: 20px;
  }
}

@media (max-width:450px){
  .footer-right{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
  footer{
    flex-direction: column-reverse;
  }
}

@media (min-width: 1920px){
  nav, .specials, .testimonials, footer, .about, .hero{
    padding-left: 30%;
    padding-right: 30%;
  }

  .specials-body{
    justify-content: space-between;
  }
}
